<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page| Web Aura</title>
</head>
<body>
    <h2> Hello Your Affiliate Code is <%= referralCode? referralCode:" "%> </h2>
    <h2>Hello User! You are Logged In with a success. Hope you Enjoy our WebPage.</h2>
</body>
</html>