.bodyContainer{
    margin:0;
    height:100vh;
    position: relative;
    /* background-color:pink; */
}
.navigationBar{
    display:flex;
    height:15vh;
    position: fixed;
    top:0vh;
    /* background-color: orange; */
}

.logoContainer{
    width:30vw;
}
.logoContainer img{
    margin-top: 1rem;
    margin-left:1rem;
    width:15vw;
}
.navigationIconsContainer{
    width:70vw;
    margin-right: 3rem;
    display:flex;
    justify-content: flex-end;
    
    /* border:1px solid black; */
}
.navigationIcons{
    font-size: larger;
    margin-top: 4rem;
    display:flex;
    justify-content: space-between;
    
}
/* photoGrid Section  */
.photoGridSection{
    margin-top:15vh;
    display:flex;
    background-color: rgb(238,237,253);
}
.quotationContainer{
    width:60vw;
    /* border-right: 1px solid black; */
}
.qoutationTagline{
    margin-top: 2rem;
}
.quotationHeading01{
    color:rgb(5,19,52);
    font-size: 2.5rem;
    margin-left: 8vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}
.quotationDescription{
    width:50vw;
    margin-left: 8vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: grey;
}
.quotationFirstWord{
    margin-left:20vw;
    font-size: 5.5rem;
    color:#d11d06;
    font-family: 'Titan One',cursive;
    font-weight: 700;
    text-shadow: 0 2px 1px #747474, 
      -1px 3px 1px #767676, 
      -2px 5px 1px #787878,
      -3px 7px 1px #7a7a7a,
      -4px 9px 1px #7f7f7f;
      display:block;
      /* -5px 11px 1px #838383,
      -6px 13px 1px #878787,
      -7px 15px 1px #8a8a8a, 
      -8px 17px 1px #8e8e8e,
      -9px 19px 1px #949494,
      -10px 21px 1px #989898,
      -11px 23px 1px #9f9f9f,
      -12px 25px 1px #a2a2a2, 
      -13px 27px 1px #a7a7a7; */
      /* -14px 29px 1px #adadad,
      -15px 31px 1px #b3b3b3,
      -16px 33px 1px #b6b6b6,
      -17px 35px 1px #bcbcbc, 
      -18px 37px 1px #c2c2c2,
      -19px 39px 1px #c8c8c8,
      -20px 41px 1px #cbcbcb,
      -21px 43px 1px #d2d2d2,
      -22px 45px 1px #d5d5d5, 
      -23px 47px 1px #e2e2e2,
      -24px 49px 1px #e6e6e6,
      -25px 51px 1px #eaeaea,
      -26px 53px 1px #efefef; */
}
.quotationSecondWord{
    display:block;
    margin-left:30vw;
    font-size: 5rem;
    color:#d11d06;
    font-weight: 700;
    text-shadow: 0 2px 1px #747474, 
      -1px 3px 1px #767676, 
      -2px 5px 1px #787878,
      -3px 7px 1px #7a7a7a,
      -4px 9px 1px #7f7f7f;
}
.quotationthirdword{
    display:block;
    margin-left:20vw;
    font-size: 4rem;
    color:#d11d06;
    font-weight: 700;
    text-shadow: 0 2px 1px #747474, 
      -1px 3px 1px #767676, 
      -2px 5px 1px #787878,
      -3px 7px 1px #7a7a7a,
      -4px 9px 1px #7f7f7f;
}

/* .quotationWords span:before{
    background:linear-gradient(45deg,#fc5c7d,#6a82fb,#fc5c7d);
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    content:"";
    mix-blend-mode:screen
    }
  
  [class*="blobs"]
    {mix-blend-mode:color;animation:blobs 15s ease-in-out infinite alternate}
  
  .blobs_1{
    background:#ff1493;
    width:60px;
    height:60px;
    top:90px;
    left:210px
    }
  
  .blobs_2{
    background:#ff4500;
    width:80px;
    height:80px;
    top:155px;
    left:230px
    }
  
  .blobs_3{
    background:#00ff00;
    width:60px;
    height:60px;
    top:145px;
    left:20px
    }
  
  .blobs_4{
    background:#ff0000;
    width:100px;
    height:100px;
    top:115px;
    left:100px
    }
  
  .blobs_5{
    background:#ffff00;
    width:50px;
    height:50px;
    top:55px;
    left:70px
    }
  
  .blobs_6{
    background:#00ffff;
    width:60px;
    height:60px;
    top:220px;
    left:55px
    }
  
  .blobs_7{
    background:#ff8c00;
    width:50px;
    height:50px;
    top:210px;
    left:180px
    }
  
  @keyframes blobs{
    0%{border-radius:26% 74% 61% 39% / 54% 67% 33% 46%}
    10%{border-radius:74% 26% 47% 53% / 68% 46% 54% 32%}
    20%{border-radius:48% 52% 30% 70% / 27% 37% 63% 73%}
    30%{border-radius:73% 27% 57% 43% / 28% 67% 33% 72%}
    40%{border-radius:63% 37% 56% 44% / 25% 28% 72% 75%}
    50%{border-radius:39% 61% 70% 30% / 61% 29% 71% 39%}
    60%{border-radius:27% 73% 29% 71% / 73% 51% 49% 27%}
    70%{border-radius:39% 61% 65% 35% / 74% 65% 35% 26%}
    80%{border-radius:55% 45% 37% 63% / 38% 30% 70% 62%}
    90%{border-radius:25% 75% 70% 30% / 39% 50% 50% 61%}
    100%{border-radius:66% 34% 33% 67% / 65% 73% 27% 35%}
    } */


.quotationWords{
    margin-top:2rem;
}
.getDemoFreeButton{
    margin-top: 3rem;
    margin-left: 8vw;
}

.quotationAnimatedTag{
    margin-left:8vw;
    font-size:2.5rem;
    color:rgb(5,19,52);
    font-weight:800;
}

.modelPhotoContainer{
    width:40vw;
}
.modelPhotoContainer img{
    margin-left:9rem;
    /* margin-top: -10rem; */
    width:25.3rem;
    /* height:34rem; */
    z-index: 400;
}

.logIn{
    padding: 0.7rem;
}
.marginRight-2{
    margin-right: 2rem;
}
/* Journey Container  */
.JourneyContainer{
  min-height: 100vh;
  padding-top: 1rem;
  background-color: #F0F8FF;
}
.headingTitle{
  font-weight: 900;
  font-size: 2.7rem;
  /* justify-content: center; */
  /* margin-left: 30vw; */
  color: black;
}
.timeline{
	width:75%;
	/*border:2px solid;*/
  margin-top: 3rem;
	position:relative;
  margin-left:10vw;
	
}
.timeline-box{
	width:40%;
	/*border:1px solid;*/
	margin :2rem;
	position:relative;
	left:5%;
	min-height:150px;
	display:flex;
	flex-direction: column;
  padding:1rem;
  box-shadow: lightgray 1.95px 1.95px 2.6px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
.timeline-box:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.timeline-box:nth-child(2n){
	left:53%;
}
.timeline-box:nth-child(2n+1)::after{
	content:'';
	position:absolute;
	top:30%;
	width:0.5rem;
	height:0.5rem;
	border-radius:50%;
	right:-7%;
	background-color:red;
	z-index:1;
}
.timeline-box:nth-child(2n)::after{
	content:'';
	position:absolute;
	top:30%;
	width:0.5rem;
	height:0.5rem;
	border-radius:50%;
	left:-15%;
	background-color:red;
	z-index:1;
}
.headingSection{
  margin-left: 30vw;
}
.sectionLogo{
  font-size:40px;
	color:#2857a4;
	display:inline-block;
	padding-top:10px;
	margin-right:0.5rem;
}
.sectionLogo img{
  width: 2.5rem;
  height: 2.5rem;
}

.timeline-divider{
  top:1%;
  margin-left:50%;
  position:absolute;
  width:0%;
  min-height:100%;
  border:2px dashed #0096fa6b;
}

.timeline-traveller{
  top:10%;
  margin-left:50%;
  position:sticky;
  transform: rotate(90deg);
  z-index: 2;
}
.timeline-traveller img{
  height:2.5rem;
  width:2.5rem;
}
.timelineBoxHeading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}
.timelineBoxDescription{
  color: grey;
}
.timelineSymbol{
  color:blue;

}
/* affiliate section  */
.affiliateSection{
  min-height:100vh;
  background-color: rgb(10,37,65);
  display: flex;
}
.affiliateDescription{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color:white;
}
.affiliateHeadingSpan{
  padding-top: 30vh;
  margin-left: 7vw;
  width:40vw;
}
#affiliateSectionHr{
  width:40vw;
  border:1px solid orange;
  margin-left:0vw;
  background: linear-gradient(to right, orange 70%, yellow);
  
}
.affiliateDescriptionSpan{
  margin-top:2rem;
  margin-left: 7vw;
  width:40vw;
  font-size: 1rem;
  font-weight: 200;
}
.highestCommissionButtonDivision{
  margin-top:2rem;
  margin-left: 7vw;
  padding:0.7rem;
  height:7vh;
  width:17vw;
  border:1px solid white;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
}
.requestCallbackButtonDivision{
  margin-top: 1rem;
  margin-left: 7vw;
  padding:0.7rem;
  height:7vh;
  width:14vw;
  border:1px solid white;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
}
.registerForAffiliateFormContainer{
  width:60vw;
  /* display:flex; */
}
.registerForAffiliateFormHeading{
  margin-top: 25vh;
  margin-left: 15vw;
  color:white;
}
.registerForAffiliateFormHeading h3{
  background: linear-gradient(to right, orange,white, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.registerForAffiliateForm{
  height:50vh;
  width:30vw;
  margin-top: 2.5rem;
  margin-left: 15vw;
}
.white{
  color:white;
}

